language: python
python:
  # - "2.6"
  - "2.7"
  # - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "nightly" # currently points to 3.6-dev
before_install:
  - export TZ=America/Los_Angeles
before_script:
  - export TZ=America/Los_Angeles
# command to install dependencies
install: "python setup.py install"
# command to run tests
script: py.test
